<?xml version='1.0' encoding='utf-8'?>
<widget id="com.varbrad.movii" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Movii</name>
    <description>
        An app to find films screening in nearby cinemas and locations, and to also notify you of upcoming showings of both TV shows and movies.
    </description>
    <author href="https://bradlab.co.uk/">
        Brad Davies
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
        <icon qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
        <icon qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
        <icon qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
        <icon qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
        <icon qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>
        <splash qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png"/>
        <splash qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png"/>
        <splash qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png"/>
        <splash qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="phonegap-version" value="cli-6.0.0"/>
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#ff3b6b" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="https://github.com/Telerik-Verified-Plugins/LocalNotification" />
</widget>
